@page
@model IMS.Pages.IndexModel

@{
    ViewData["Title"] = "Inventory";
}

<h1>Index</h1>

<form method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Search...">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="type">Type</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="brand">Brand</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="status">Status</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="yearModel">Year Model</a>
            </th>
            <th>
                Info
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @item.YearModel
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
